################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CharacterGen-Formmade/CharacterGen/obj/Release/netcoreapp3.1
